/*body {
    background: url(http://www.allfin.be/media/projects/belview/bg/Run_Belview_006_ext-1280_blur.jpg?t=1376632673);
    background-repeat: no-repeat;
    background-size: 100%;
}*/

.container {
    height: 1000px;
    width: 950px;
    margin: 0 auto;
    padding: 0px;
}

.header {
    width: 100%;
    height: 150px;
    font-family: Arial;
}

/*.menu {
    position: relative;
    background-color: #b2b2f7;
    float: left;
    height: 100%;
    width: 15%;
    margin-top: 75px;
}*/

.content {
    height: 100%;
    margin-top: 20px;
    text-align: center;
}

/*.footer {
    background-color: #4e69a2;
    text-align: center;
    width: 100%;
    clear: both;
}
*/
.header_div {
    padding-top: 40px;
    height: 70px;
    border-bottom: 1px solid #000;
}

.header_logo {
    float: left;
    width: 550px;
    cursor: pointer;
    display: inline-block;
}

.header_img {
    padding-left: 125px;
    float: left;
}

.header_name {
    font-size: 46px;
    color: #313131;
    float: left;
}

.header_options {
    width: 200px;
    float: left;
    text-align: right;
}

#singin {
    cursor: pointer;
}

#register {
    cursor: pointer;
}
.header_adress {
    width: 200px;
    float: left;
    text-align: left;
}

.register {
    width: 650px;
    display: inline-block;
    height: 300px;
    text-align: left;
}

input[type="text"] {
    width: 250px;
}

input[type="email"] {
    width: 250px;
}

input[type="tel"] {
    width: 250px;
}

input[type="password"] {
    width: 250px;
}

#td_right {
    padding-left: 85px;
}

#td_submit {
    float: right;
}

td {
    padding-top: 5px;
}

table {
    padding-top: 10px;
}

#error_message {
    visibility: hidden;
}